.show-indexed-button {
  float: right;
}
h6 {
  color: #aaa;
}
h2 .btn {
  margin-left: 1em;
}
.resource-image {
  float: right;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 30%;
}
.resource-image img {
  width: 100%;
  height: auto;
}

.publication {
  display: inline;
  font-size: 80%;
  color: #888;
  float: right;
}
.publication span {
  font-weight: bold;
  margin: 0 0.5em;
}

label.field-name {
  font-weight: bold;
  font-size: 110%;
}

.leaflet-container {
  width: 100%;
  height: 200px;
}
.leaflet-container .leaflet-control-container {
  display: none;
}
.geofocus-map ul {
  text-align: right;
}
.geofocus-map ul li {
  display: block;
}
