.search-pagination {
  justify-content: flex-end;
  margin-right: auto;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.1em;
}
.search-pagination .btn {
  margin: 0 1em;
}
.search-pagination .btn:last-child {
  margin-right: 0;
}
